* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

.gameBackground {
    display:flex;
    flex-direction: column;
    align-items: center;

    width: 340px;
    height: fit-content;
    padding: 2rem;

    background-color: lightblue;
    border-radius: 10px;

}

