* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

.gameBackground {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

        /*to do: Ändra storlekar så de anpassar för större/mindre skärmar. Möjligen fasta höjder så det inte "hoppar"?*/
    width: 340px;
    height: fit-content;
    padding: 2rem;

    background-color: lightblue;
    border-radius: 10px;
}

.copyRight {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}